extends layout 

block content
    .card.bg-primary.mb-3(style="max-width: 20rem;margin-top:2em;font-color:000000;")
        .card-header.roomname
        .card-body
            .card-title
            p.card-text.roomusers
    
    .list-group

    form.chat-form(action="")
        fieldset
            .form-group
                label(for="exampleTextarea") text something here
                textarea.form-control#exampleTextarea(spellcheck="false",rows="3",style="height:20vh;")
            button(type="submit",class="btn btn-primary") Submit
    script(src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.0/qs.min.js" integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ==" crossorigin="anonymous")
    script(src="/socket.io/socket.io.js")
    script(src="../javascripts/index.js")
        
        
            


