extends layout 

block content
    .title Welcome!
        .user Here's your location information
            p.startLat
            p.startLon
            
    script(src="../javascripts/userlocation.js")
    
